<a href="https://colab.research.google.com/github/vlademirribeiro/Analise_gorjeta/blob/main/lendo_arq_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, inspect

In [ ]:
engine = create_engine('sqlite:///:memory')

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/refs/heads/main/clientes_banco.csv'

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv(url)

In [ ]:
dados.head(3)

In [ ]:
dados.to_sql('clientes', engine, index=False)

In [ ]:
inspector = inspect(engine)

In [ ]:
inspector.get_table_names()

In [ ]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda = "Empregado"'

In [ ]:
#ler uma consulta
empregados = pd.read_sql(query, engine)

In [ ]:
empregados.head()

In [ ]:
empregados.to_sql('empregados', con=engine, index=False)

In [ ]:
#lendo uma tabela completa
pd.read_sql_table('empregados', con=engine)

In [ ]:
pd.read_sql_table('clientes', con=engine, columns = ['ID_Cliente', 'Grau_escolaridade', 'Rendimento_anual'])

In [ ]:
query = 'SELECT * FROM clientes'

In [ ]:
pd.read_sql(query, engine)

In [ ]:
query ='DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    conn.execute(query)

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
  conn.execute(query)

In [ ]:
pd.read_sql_table('clientes', engine)